.App {
  text-align: center;
  width: 24rem;
  margin: 0.5rem auto;
  padding: 0 0 2rem 0;
  border: solid 3px rgb(111, 110, 110);
  border-radius: 5px;
  box-shadow: 4px 4px rgb(232, 236, 214), -0.2em 0 0.4em rgb(241, 228, 149);
}
h1 {
  margin: 0 0 1.5rem 0;
  padding: 0.5rem 0 0.5rem 0;
  font-size: 1.4rem;
  color: rgb(2, 2, 120);
}
.h1 {
  position: relative;
}
.h1:before {
  content: "";
  position: absolute;
  left: 20%;
  right: 20%;
  bottom: 0;
  height: 1rem;
  width: 60%;
  border-bottom: groove 5px rgb(208, 207, 207);
}
fieldset {
  width: 15rem;
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: left;
}
.passLength {
  width: 17rem;
  display: flex;
  justify-content: space-between;
  margin: auto;

  text-align: left;
}
.passLength input {
  max-width: 2rem;
  margin-right: 0.5rem;
}
.submit {
  background-color: black;
  color: white;
  cursor: pointer;
  margin: 1rem auto;
  padding: 0.5rem;
  border-radius: 5px 10px;
}
.result {
  display: flex;
  width: 90%;
  margin: auto;
}
.clicToCopy,
.error {
  font-size: 0.7rem;
}
.label {
  width: 50%;
}
.copyPassword input {
  width: 80%;
  height: 50%;
  margin: auto;
}
.copyPassword {
  display: flex;
  width: 50%;
}
.copy {
  margin: auto;
}
